@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.ir {
  display: block;
  overflow: visible;
  padding: 0 0 100%;
  position: relative;
  height: 0;
  width: 100%;
}

.ir > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.title {
  width: 108px;
  font-size: 24px;
}

.padding_border {
  padding: 4vh;
}

body {
  width: 100%;
  padding: 90px;
  margin: 10vh auto;
}

.name {
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #333;
}

.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #333;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.title:hover:after {
  width: 100%;
  left: 0;
}

html,
body {
  background: #fff;
}

html {
  font-size: 0.625em;
}

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  padding: 48px;
  padding: 4.8rem;
  text-align: center;
  width: 110rem;
  margin-top: 10vh;
  max-width: 100%;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a,
.soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}

.icon-1:hover,
.icon-2:hover,
.icon-3:hover,
.icon-4:hover,
.icon-5:hover,
.icon-6:hover,
.icon-7:hover,
.icon-8:hover,
.icon-9:hover,
.icon-10:hover,
.icon-11:hover,
.icon-12:hover,
.icon-13:hover,
.icon-14:hover,
.icon-15:hover,
.icon-16:hover,
.icon-17:hover,
.icon-18:hover,
.icon-19:hover,
.icon-20:hover,
.icon-21:hover,
.icon-22:hover,
.icon-23:hover,
.icon-24:hover,
.icon-25:hover,
.icon-26:hover,
.icon-27:hover,
.icon-28:hover,
.icon-29:hover,
.icon-30:hover,
.icon-31:hover,
.icon-32:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-1 {
  color: #d94a26;
  fill: #d94a26;
}
.icon-1:hover {
  background: #d94a26;
}

.icon-2 {
  color: #d96e26;
  fill: #d96e26;
}
.icon-2:hover {
  background: #d96e26;
}

.icon-3 {
  color: #d99126;
  fill: #d99126;
}
.icon-3:hover {
  background: #d99126;
}

.icon-4 {
  color: #d9b526;
  fill: #d9b526;
}
.icon-4:hover {
  background: #d9b526;
}

.icon-5 {
  color: #d9d926;
  fill: #d9d926;
}
.icon-5:hover {
  background: #d9d926;
}

.icon-6 {
  color: #b5d926;
  fill: #b5d926;
}
.icon-6:hover {
  background: #b5d926;
}

.icon-7 {
  color: #91d926;
  fill: #91d926;
}
.icon-7:hover {
  background: #91d926;
}

.icon-8 {
  color: #6ed926;
  fill: #6ed926;
}
.icon-8:hover {
  background: #6ed926;
}

.icon-9 {
  color: #4ad926;
  fill: #4ad926;
}
.icon-9:hover {
  background: #4ad926;
}

.icon-10 {
  color: #26d926;
  fill: #26d926;
}
.icon-10:hover {
  background: #26d926;
}

.icon-11 {
  color: #26d94a;
  fill: #26d94a;
}
.icon-11:hover {
  background: #26d94a;
}

.icon-12 {
  color: #26d96e;
  fill: #26d96e;
}
.icon-12:hover {
  background: #26d96e;
}

.icon-13 {
  color: #26d991;
  fill: #26d991;
}
.icon-13:hover {
  background: #26d991;
}

.icon-14 {
  color: #26d9b5;
  fill: #26d9b5;
}
.icon-14:hover {
  background: #26d9b5;
}

.icon-15 {
  color: #26d9d9;
  fill: #26d9d9;
}
.icon-15:hover {
  background: #26d9d9;
}

.icon-16 {
  color: #26b5d9;
  fill: #26b5d9;
}
.icon-16:hover {
  background: #26b5d9;
}

.icon-17 {
  color: #2691d9;
  fill: #2691d9;
}
.icon-17:hover {
  background: #2691d9;
}

.icon-18 {
  color: #266ed9;
  fill: #266ed9;
}
.icon-18:hover {
  background: #266ed9;
}

.icon-19 {
  color: #264ad9;
  fill: #264ad9;
}
.icon-19:hover {
  background: #264ad9;
}

.icon-20 {
  color: #2626d9;
  fill: #2626d9;
}
.icon-20:hover {
  background: #2626d9;
}

.icon-21 {
  color: #4a26d9;
  fill: #4a26d9;
}
.icon-21:hover {
  background: #4a26d9;
}

.icon-22 {
  color: #6e26d9;
  fill: #6e26d9;
}
.icon-22:hover {
  background: #6e26d9;
}

.icon-23 {
  color: #9126d9;
  fill: #9126d9;
}
.icon-23:hover {
  background: #9126d9;
}

.icon-24 {
  color: #b526d9;
  fill: #b526d9;
}
.icon-24:hover {
  background: #b526d9;
}

.icon-25 {
  color: #d926d9;
  fill: #d926d9;
}
.icon-25:hover {
  background: #d926d9;
}

.icon-26 {
  color: #d926b5;
  fill: #d926b5;
}
.icon-26:hover {
  background: #d926b5;
}

.icon-27 {
  color: #d92691;
  fill: #d92691;
}
.icon-27:hover {
  background: #d92691;
}

.icon-28 {
  color: #d9266e;
  fill: #d9266e;
}
.icon-28:hover {
  background: #d9266e;
}

.icon-29 {
  color: #d9264a;
  fill: #d9264a;
}
.icon-29:hover {
  background: #d9264a;
}

.icon-30 {
  color: #d92626;
  fill: #d92626;
}
.icon-30:hover {
  background: #d92626;
}

.icon-31 {
  color: #d94a26;
  fill: #d94a26;
}
.icon-31:hover {
  background: #d94a26;
}

.icon-32 {
  color: #d96e26;
  fill: #d96e26;
}
.icon-32:hover {
  background: #d96e26;
}

.mail {
  font-size: 2.5vh;
  text-align: center;
}

.cursor {
  position: fixed;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursor.active {
  opacity: 1;
  transform: scale(0);
}
.cursor.menu-active {
  opacity: 1;
  transform: scale(0);
}
.cursor.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}
.cursor-follower.active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.menu-active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.hovered {
  opacity: 1;
}

.cursor.white {
  opacity: 0;
}
.cursor.menu-active {
  opacity: 1;
  transform: scale(0);
}

.cursor-follower.white {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}
.cursor-follower.menu-active {
  opacity: 1;
  transition: background-image 0.5s ease;
  border: none;
}

.cursor-follower.black {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}

.cursor-follower.green {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}

@media only screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
  .cursor-follower {
    display: none;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    cursor: auto !important;
  }
}
