@import "reset.css";
body { margin: 0; }
canvas { width: 100%; height: 100% }

html, body {
  margin: 0;
  cursor: none;
}

.name{
  text-align: right;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}
body, * {
cursor: none;
 }

body {
  background-color: #ffffff;
  color: #333333;
  overflow-x: hidden; /* Hide scrollbars */
  transition-property: background-color;
  transition-duration: 1s;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
}

button {
  all: none;
}

.padding_border {
  display: block;
  padding: 90px;
  width: 80%;
  margin:10vh auto;
  border: solid #333;
  border-width: 1px;
}


@media only screen and (max-width: 720px) {
  .padding_border {
    margin: 1vh auto;
    border:none;
    width: 450px;
  }
  .container{
    display: none;
    padding: 20px 0 20px 0;
  }
  body{
    overflow: auto;
  }
  ul{
    display: grid !important;
  }
}

@media only screen and (max-width: 520px) {
  .padding_border {
    margin: 1vh auto;
    border:none;
    width: 350px;
    padding: 5px;
  }
  .container{
    display: none;
    padding: 20px 0 20px 0;
  }
  .Selfie{
    width: 150px !important;
    height: 150px !important;
  }
  ul{
    display: grid !important;
  }
}
@media only screen and (max-width: 380px) {
  .padding_border {
    margin: 1vh auto;
    border:none;
    width: 300px;
    padding: 0px;
    margin: 0;
  }
  .container{
    display: none !important;
    padding: 2px 0 2px 0 !important;
  }
  .Selfie{
    width: 150px !important;
    height: 150px !important;
  }
  ul{
    display: grid !important;
  }
}



@media only screen and (max-width: 1500px) {
  .padding_border {
    margin: 1vh auto;
    border:none;
  }
}

@media only screen and (max-width: 1900px) {
  .padding_border {
    margin: 2wh auto;
    border:none;
  }
}


.title {
  width: 108px;
  font-size: 24px;
  text-align: left;
}

.name {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #333333;
}

.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #333333;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.title:hover:after {
  width: 100%;
  left: 0;
}

ul {
  margin: 16px auto 16px;
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.link {
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  display: inline-block;
}
.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #333333;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

.button {
  list-style: none;
  padding: 16px 0px;
  margin-left: 0 auto;
  display: inline-block;
  font-family: font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: white;
  color: black;
}
footer {
  width: 100%;
}


.but {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  list-style: none;
  flex-direction: column;
}

.slide {
  width: 960px;
  height: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
}

#content {
  width: 30vw;
  background-color: #333;
  color: #f3f3f3;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.ux {
  width: 150px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
}

.logo {
  position: relative;
  width: 300px;
  text-align: center;
  margin: auto;
  display: inline-block;
}

.circle{
 width: 200px;
 height: 200px;
 padding: 0;
 background-color: green;
 border-radius: 50%;
 margin: 25px;
 display: inline-block;
}
.circle:hover{
  background-color: ivory;
}

.circle-text{
position: inherit;
top: 50%;
bottom: 50%;
}
/* Reset */
@import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
.tiles {
  font-size: 0;
  text-align: center;
  margin: auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.tiles .tile {
  display: inline-block;
  margin: 10px;
  text-align: left;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  width: 250px;
}
.tiles .tile:before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.tiles .tile img {
  display: block;
  max-width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tiles .tile .details {
  font-size: 16px;
  padding: 20px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.tiles .tile .details span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.tiles .tile .details .title2 {
  line-height: 1;
  font-weight: 600;
  font-size: 18px;
}
.tiles .tile .details .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.tiles .tile:focus:before,
.tiles .tile:focus span, .tiles .tile:hover:before,
.tiles .tile:hover span {
  opacity: 1;
}
.tiles .tile:focus:before, .tiles .tile:hover:before {
  top: 50%;
}
.tiles .tile:focus span, .tiles .tile:hover span {
  top: 0;
}
.tiles .tile:focus .title2, .tiles .tile:hover .title2 {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.tiles .tile:focus .info, .tiles .tile:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.container{
  position: relative;
  display: block;
  padding: 50px 0 50px 0;
}
.cursor {
  position: fixed;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursor.active {
  opacity: 1;
  transform: scale(0);
}
.cursor.menu-active {
  opacity: 1;
  transform: scale(0);
}
.cursor.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}
.cursor-follower.active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.menu-active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.hovered {
  opacity: 1;
}

.cursor.white {
  opacity: 0;
}
.cursor.menu-active {
  opacity: 1;
  transform: scale(0);
}

.cursor-follower.white {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}
.cursor-follower.menu-active {
  opacity: 1;
  transition: background-image 0.5s ease;
  border: none;
}

.cursor-follower.black {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}

.cursor-follower.green {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}

@media only screen and (max-width: 1024px) {
    .cursor{
  display:none;
    }
    .cursor-follower{
    display: none;
    }

    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
      cursor: auto !important;
    }
  }

  h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }