@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');
body {
  background-color: #007856;
  color: #ffffff;
}


body {
  transition-property: background-color;
  transition-duration: 1s;
}

button {
  all: none;
}

#about {
  overflow: hidden;
}

.padding_border {
  padding: 120px 150px 0 150px;
}

.pic{
  width: 100%;
  text-align: center;
}

.title {
  width: 60px;
  font-size: 24px;
  text-align: left;
}

.tit{
  font-size: 36px;
  width: auto;
  text-align: center;
  margin: 24px 0;
  text-decoration: underline;
}

.des{
  width: 100%;
  font-size: 20px;
  padding-top: 40px;
  margin: auto;
}

.show{
  text-align: center;
  max-width: 30vw;
}

.scalper{
  max-width: 1000px;
  padding: 50px 50px 20px 50px;
    border: solid #fff;
    border-width: 1px;
    margin: 40px auto;
    width:auto;
}

.title {
  width: 60px;
  font-size: 24px;
}
.title:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #ffffff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.title:hover:after {
  width: 100%;
  left: 0;
}
.about {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 20px;
  width: 100%;
  padding: 32px;
  will-change: "opacity, transform";
}

.name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.now {
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  color: #fff;
  text-align: center;
  margin: 32px;
}
li {
  list-style-type: decimal;
  margin-bottom: 32px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 20px;
  padding-left: 36px;
  margin-left: 36px;
}
ol {
  margin: 24px;
}

.me {
  float: right;
  width: 300px;
}

.cursor {
  position: fixed;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursor.active {
  opacity: 1;
  transform: scale(0);
}
.cursor.menu-active {
  opacity: 1;
  transform: scale(0);
}
.cursor.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 1px solid #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}
.cursor-follower.active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.menu-active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.hovered {
  opacity: 1;
}

.cursor.white {
  opacity: 0;
}
.cursor.menu-active {
  opacity: 1;
  transform: scale(0);
}

.cursor-follower.white {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}
.cursor-follower.menu-active {
  opacity: 1;
  transition: background-image 0.5s ease;
  border: none;
}

.cursor-follower.black {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}

.cursor-follower.green {
  opacity: 1;
  transition: background-image 0.5s ease;
  background-image: url("/assets/source.gif");
  border: none;
}
@media only screen and (max-width: 600px) {
  .des{
    font-size: 12px;
  }
  .padding_border {
    padding: 10px;
}

.scalper{
  margin: 20px auto;
}

  }

@media only screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
  .cursor-follower {
    display: none;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    cursor: auto !important;
  }
}
